@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-1: #696C71;
    --gray-2: #a9aaab;
    --white-1: #FFF8F0;
    --black-1: #191817;
    --red-1: #D1462F;
    --red-2: #D1462FA5;
    --green-1: #7DC95E;
    --yellow-1: #F0A202;
    --blue-1: #08B7FC;
    --blue-2: #3F70ED;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.form-label {
    color: var(--black-1);
}

.form-input {
    padding: 18px 1rem;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    width: 100%;
}

[x-cloak] {
    display: none !important;
}

textarea {
    resize: none;
}

button {
    transition: 100ms ease-in filter;
}
button:hover {
    filter: brightness(115%);
}

input[disabled] {
    background: rgba(0,0,0,0.2);
}
