@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-1: #696C71;
    --gray-2: #a9aaab;
    --white-1: #FFF8F0;
    --black-1: #191817;
    --red-1: #D1462F;
    --red-2: #D1462FA5;
    --green-1: #7DC95E;
    --yellow-1: #F0A202;
    --blue-1: #08B7FC;
    --blue-2: #3F70ED;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.form-label {
    color: var(--black-1);
}

.form-input {
    padding: 18px 1rem;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    width: 100%;
}

[x-cloak] {
    display: none !important;
}

textarea {
    resize: none;
}

button {
    transition: 100ms ease-in filter;
}

button:hover {
    filter: brightness(115%);
}

input[disabled] {
    background: rgba(0, 0, 0, 0.2);
}

.text-gray {
    color: var(--gray-1) !important;
}

.xs-image-container {
    height: 32px;
    width: 32px;
    overflow: hidden;
    border-radius: 100%;
}

.xs-image-container>img {
    height: 100%;
    width: 100%;
}

.sm-image-container {
    height: 42px;
    width: 42px;
    border-radius: 100%;
    overflow: hidden;
}

.sm-image-container>img {
    height: 100%;
    width: 100%;
}

input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--gray-1);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px var(--gray-1);
    -webkit-box-shadow: 0px 0px 3px 0px var(--gray-1);
    -moz-box-shadow: 0px 0px 3px 0px var(--gray-1);
}

.button-square-main-1 {
    background: black;
    color: white;
    padding: 0.4rem 1rem;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s all ease-in;
    font-weight: 500;
}

.button-square-main-1:hover {
    opacity: 0.8;
}
.button-square-main-1:disabled {
    background: rgb(31, 31, 31);
    color: white;
}
.button-square-main-1:disabled:hover {
    background: var(--black-1);
}

.button-square-secondary-1 {
    background: var(--gray-2);
    color: black;
    opacity: 0.9;
    padding: 0.4rem 1rem;
    border: 1px solid var(--gray-2);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s all ease-in;
    font-weight: 500;
}

.button-square-main-2 {
    background: var(--blue-1);
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s all ease-in;
}
