.feed-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.feed-bar {
    width: 50%;
    padding: 5rem 1rem;
}

.suggestions-bar {
    position: sticky;
    top: 3rem;
    right:0;
    height: fit-content;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
}






.feed-content-container-padding {
    padding: 2em 1rem 1rem 3%;
}

.feed-content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.suggestions-bar .follow-user-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem;
}
.suggestions-bar .follow-user-info {
    display: flex;
    gap: 10px;
}
.suggestions-bar .other-name {
    font-size: 14px;
}
.suggestions-bar .other-username {
    font-size: 11px;
}
.follow-user-container button {
    font-weight: bold;
    color: white;
    font-size: 14px;
    background: black;
    height: 100%;
    padding: 10px 25px;
    border-radius: 25px;
}


.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
    width: 25%;
    position: sticky;
    top: 3rem;
    right:0;
    height: fit-content;
}
.link-container div {
    min-width: 180px;
}

.btn-link {
    color: var(--blue-1);
    text-decoration: underline;
}
